.g-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: top;
  font-size: var(--font-size);
  height: var(--button-height);
  padding: 0 1rem;
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  background: var(--button-bg);
  &:hover {
    border-color: var(--border-color-hover);
  }
  &:active {
    background-color: var(--button-active-bg);
  }
  &:focus {
    outline: none;
  }
  > .g-icon {
    order: 1;
    margin-right: .3em;
  }
  > .content {
    order: 2;
  }
  &.icon-right {
    > .g-icon {
      order: 2;
      margin-left: .3em;
      margin-right: 0;
    }
    > .content {
      order: 1;
    }
  }
}